/* Css reset __________________________________________________________________________________________ */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Core styling _______________________________________________________________________________________ */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
    letter-spacing: 1px;
}

a {
    text-decoration: none;
}

h2,
h3 {
    letter-spacing: 3px;
    margin-bottom: 20px;
}

p {
    margin-bottom: 15px;
}

/* Utility ___________________________________________________________________________________________ */
.container {
    max-width: 1050px;
    margin: auto;
}

.text-primary {
    color: #3a517a;
}

.bg-primary {
    background: #3a517a;
}

.bg-secondary {
    background: #bfc3cc;
}

.btn-primary {
    display: inline-block;
    color: #fff;
    padding: 10px 15px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 3px;
}

.btn-primary:hover {
    background: #7082a2;
}

.clr {
    clear: both;
}

/* Navbar ____________________________________________________________________________________________ */
header nav {
    /* If overflow is not set to auto nav bar get dissapeared */
    overflow: auto;
}

header nav a {
    color: #fff;
}

header nav h1 {
    /* Floating h1 to left */
    float: left;
    margin: 12px 0px;
}

header nav ul {
    list-style: none;
    /* Floating ul to right */
    float: right;
}

header nav ul li {
    /* Floading li to left */
    float: left;
}

header nav ul li a {
    display: block;
    padding: 12px;
    text-align: center;
}

header nav ul li a:hover,
/* Link is highligted when current page is active */
header nav ul li a.current {
    background: #7082a2;
}

/* Footer section _________________________________________________________________________________________ */
footer {
    text-align: right;
    color: #fff;
    font-size: 12px;
    padding: 15px;
}

/* index.html > Showcase _____________________________________________________________________________________ */
#showcase {
    background-image: url(../img/showcase.jpg);
    height: 92.3vh;
    background-size: 100% 100%;
}

#showcase .container #showcase-content {
    color: #fff;
    text-align: center;
    padding-top: 100px;
}

#showcase .container #showcase-content h2 {
    font-size: 50px;
    margin-bottom: 50px;
}

#showcase .container #showcase-content p {
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
}

/* index.html > History section ________________________________________________________________________________ */
#hotel-history {
    height: 400px;
}

#hotel-history #history-img {
    float: left;
    width: 50%;
    height: 90%;
    background: url(../img/history.jpg);
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    margin-top: 18px;
}

#hotel-history #history-content {
    float: right;
    width: 50%;
    height: 90%;
    /* Scroll bar is hidden if text goes beyond */
    overflow: hidden;
    text-align: center;
    padding: 100px 50px;
}

#hotel-history #history-content h2 {
    margin-bottom: 30px;
}

#hotel-history #history-content p {
    margin-bottom: 30px;
}

/* index.html > Features section _______________________________________________________________________________ */
#features .box {
    float: left;
    width: 33.33%;
    padding: 50px 40px;
    text-align: center;
}

#features .box i {
    margin-bottom: 10px;
}

#features .box h3 {
    margin-bottom: 15px;
}

/* About.html > About section _______________________________________________________________________________ */
#about {
    /* set overflow: auto when using float. Else back ground get dissapeared */
    overflow: auto;
    padding: 20px 0px;
}

#about #about-left {
    width: 50%;
    float: left;
    min-height: 100%;
    text-align: center;
}

#about #about-right {
    width: 50%;
    float: right;
}

#about #about-right img {
    width: 350px;
    height: 250px;
    display: block;
    margin: auto;
    border-radius: 40%;
}

/* About.html > Testomonial section _______________________________________________________________________________ */

#testomonials {
    background: url(../img/hotel_testomonial.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center center;
    color: #fff;
    padding: 20px 0px;
}

#testomonials h2 {
    text-align: center;
}

#testomonials .testimonial {
    overflow: auto;
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 5px;
    /* Entire dive is get affected including text */
    opacity: 0.9;
}

#testomonials .testimonial img {
    width: 75px;
    float: left;
    margin-right: 20px;
    border-radius: 20px;
}
