/* Css reset */
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* Core styling */
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 25px;
}

a{
    text-decoration: none;
}

h1,h2,h3 {
    margin-bottom: 15px;
}

p {
    margin-bottom: 10px;
}

/* Utility */
.container {
    max-width: 1100px;
    margin: auto;
}

/* Navbar */
header nav {
    background: #333;
    /* If overflow is not set to auto nav bar get dissapeared */
    overflow: auto;
}

header nav a{
    color: #fff;
}

header nav h1 {
    /* Floating h1 to left */
    float: left;
    margin: 12px;
}

header nav ul {
    list-style: none;
    /* Floating ul to right */
    float: right;
}

header nav ul li {
    /* Floading li to left */
    float: left;
}

header nav ul li a {
    display: block;
    padding: 12px;
    text-align: center;
}

header nav ul li a:hover,
/* Link is highligted when current page is active */
header nav ul li a.current
{
    background: #444;
    color: #f7c08a;
}

